<h1>Thanks for making a purchase!</h1>
<h2>Your total is $<%= @total %>0</h2>

<h3>Your purchases</h3>
<% @user.purchases.each_with_index do |purchase, index| %>
  <p><%= purchase.item.name %></p>
<% end %>
